\documentclass{isi-proposal}

% Final-thesis revision v3 continues proposal v2.
\newcommand{\thesisversion}{v3}
\renewcommand{\contentsname}{DAFTAR ISI}
\renewcommand{\figurename}{Gambar}
\renewcommand{\tablename}{Tabel}
\newcommand{\thesischapter}[2]{%
  \clearpage
  \phantomsection
  \setcounter{section}{0}
  \setcounter{subsection}{0}
  \addcontentsline{toc}{part}{BAB #1: #2}
  \begin{center}\bfseries BAB #1\par #2\end{center}
}

\usepackage{tikz}
\usetikzlibrary{shapes.geometric, arrows}

% PDF outline and unique destinations despite per-chapter numbering resets.
\usepackage[unicode,hidelinks,hypertexnames=false,bookmarksnumbered,
  bookmarksopen,bookmarksopenlevel=1,pdfpagemode=UseOutlines]{hyperref}
\usepackage{bookmark}
\bookmarksetup{depth=3}
\makeatletter
\renewcommand*{\toclevel@part}{0}
\makeatother

\addbibresource{../../proposal-phase/assets/references.bib}

% Section formatting
\renewcommand{\thesection}{\Alph{section}}
\titleformat{\section}{\normalfont\normalsize\bfseries}{\thesection.\quad}{0pt}{}
\titleformat{\subsection}{\normalfont\normalsize\bfseries}{\thesubsection\quad}{0pt}{}
\titleformat{\subsubsection}{\normalfont\normalsize\bfseries}{\thesubsubsection\quad}{0pt}{}

% Environment Variables Macros
\newcommand{\thesistitle}{${THESIS_TITLE}}
\newcommand{\researchername}{${RESEARCHER_NAME}}
\newcommand{\researchernim}{${RESEARCHER_NIM}}
\newcommand{\institutionname}{${INSTITUTION_NAME}}
\newcommand{\facultyname}{${FACULTY_NAME}}
\newcommand{\departmentname}{${DEPARTMENT_NAME}}
\newcommand{\programstudy}{${PROGRAM_STUDY}}
\newcommand{\cityname}{${CITY_NAME}}
\newcommand{\submissiondate}{${SUBMISSION_DATE}}
\newcommand{\academicyear}{${ACADEMIC_YEAR}}
\newcommand{\graduationyear}{${GRADUATION_YEAR}}
\newcommand{\advisoracademic}{${ADVISOR_ACADEMIC}}
\newcommand{\advisoracademicnip}{${ADVISOR_ACADEMIC_NIP}}
\newcommand{\advisorthesis}{${ADVISOR_THESIS}}
\newcommand{\advisorthesisnip}{${ADVISOR_THESIS_NIP}}
\newcommand{\examinerone}{${EXAMINER_1}}
\newcommand{\examineronenip}{${EXAMINER_1_NIP}}
\newcommand{\examinertwo}{${EXAMINER_2}}
\newcommand{\examinertwonip}{${EXAMINER_2_NIP}}

% Disable hyphenation while keeping justification (MS Word style)
\tolerance=1
\emergencystretch=\maxdimen
\hyphenpenalty=10000
\exhyphenpenalty=10000

\begin{document}

\pagenumbering{roman}
\input{chapters/00-frontmatter}

\clearpage
\pdfbookmark[0]{\contentsname}{contents}
\tableofcontents

\doublespacing
\clearpage
\pagenumbering{arabic}
\thesischapter{I}{PENDAHULUAN}
\input{chapters/01-pendahuluan}
\thesischapter{II}{TINJAUAN PUSTAKA}
\input{chapters/02-tinjauan-pustaka}
\thesischapter{III}{METODOLOGI PENELITIAN}
\input{chapters/03-metodologi}
\thesischapter{IV}{HASIL DAN PEMBAHASAN}
\input{chapters/04-hasil-pembahasan}
\thesischapter{V}{KESIMPULAN DAN SARAN}
\input{chapters/05-kesimpulan-saran}

\clearpage
\phantomsection
\addcontentsline{toc}{part}{DAFTAR PUSTAKA}
\printbibliography[title={DAFTAR PUSTAKA}]

\end{document}
