\documentclass{isi-proposal}

% Final-thesis revision v3 continues proposal v2.
\newcommand{\thesisversion}{v3}
\renewcommand{\contentsname}{DAFTAR ISI}
\renewcommand{\figurename}{Gambar}
\renewcommand{\tablename}{Tabel}
\newcommand{\thesischapter}[2]{%
  \clearpage
  \phantomsection
  \setcounter{section}{0}
  \setcounter{subsection}{0}
  \addcontentsline{toc}{part}{BAB #1: #2}
  \begin{center}\bfseries BAB #1\par #2\end{center}
}

\usepackage{needspace}
\usepackage[normalem]{ulem}
\usepackage{tikz}
\usetikzlibrary{shapes.geometric, arrows}

% PDF outline and unique destinations despite per-chapter numbering resets.
\usepackage[unicode,hidelinks,hypertexnames=false,bookmarksnumbered,
  bookmarksopen,bookmarksopenlevel=1,pdfpagemode=UseOutlines]{hyperref}
\usepackage{bookmark}
\bookmarksetup{depth=3}
\makeatletter
\renewcommand*{\toclevel@part}{0}
% Non-chapter entries use normal-size text with dot leaders; only BAB uses the part style.
\newcommand*{\l@matter}{\@dottedtocline{0}{0pt}{0pt}}
\newcommand*{\toclevel@matter}{0}
\makeatother

\addbibresource{../../proposal-phase/assets/references.bib}

% Section formatting
\renewcommand{\thesection}{\Alph{section}}
\titleformat{\section}{\normalfont\normalsize\bfseries}{\thesection.\quad}{0pt}{}
\titleformat{\subsection}{\normalfont\normalsize\bfseries}{\thesubsection\quad}{0pt}{}
\titleformat{\subsubsection}{\normalfont\normalsize\bfseries}{\thesubsubsection\quad}{0pt}{}

% Environment Variables Macros
% v3 title follows the v2 review; proposal builds keep THESIS_TITLE from metadata.
\newcommand{\thesistitle}{EVALUASI MUSIK HASIL AI DEEPBACH, COCONET, DAN NOTAGEN: PENGARUH TINGKAT KENDALI TERHADAP KEPATUHAN KAIDAH STRUBE}
\newcommand{\researchername}{${RESEARCHER_NAME}}
\newcommand{\researchernim}{${RESEARCHER_NIM}}
\newcommand{\institutionname}{${INSTITUTION_NAME}}
\newcommand{\facultyname}{${FACULTY_NAME}}
\newcommand{\departmentname}{${DEPARTMENT_NAME}}
\newcommand{\programstudy}{${PROGRAM_STUDY}}
\newcommand{\cityname}{${CITY_NAME}}
\newcommand{\submissiondate}{${SUBMISSION_DATE}}
\newcommand{\academicyear}{${ACADEMIC_YEAR}}
\newcommand{\graduationyear}{${GRADUATION_YEAR}}
\newcommand{\advisoracademic}{${ADVISOR_ACADEMIC}}
\newcommand{\advisoracademicnip}{${ADVISOR_ACADEMIC_NIP}}
\newcommand{\advisorthesis}{${ADVISOR_THESIS}}
\newcommand{\advisorthesisnip}{${ADVISOR_THESIS_NIP}}
\newcommand{\examinerone}{${EXAMINER_1}}
\newcommand{\examineronenip}{${EXAMINER_1_NIP}}
\newcommand{\examinertwo}{${EXAMINER_2}}
\newcommand{\examinertwonip}{${EXAMINER_2_NIP}}
% Thesis committee (v3 onward)
\newcommand{\advisorone}{${THESIS_ADVISOR_1}}
\newcommand{\advisoronenip}{${THESIS_ADVISOR_1_NIP}}
\newcommand{\advisortwo}{${THESIS_ADVISOR_2}}
\newcommand{\advisortwonip}{${THESIS_ADVISOR_2_NIP}}
\newcommand{\cognate}{${COGNATE}}
\newcommand{\cognatenip}{${COGNATE_NIP}}
\newcommand{\programcoordinator}{${PROGRAM_COORDINATOR}}
\newcommand{\programcoordinatornip}{${PROGRAM_COORDINATOR_NIP}}
\newcommand{\deanname}{${DEAN}}

% Disable hyphenation while keeping justification (MS Word style)
\tolerance=1
\emergencystretch=\maxdimen
\hyphenpenalty=10000
\exhyphenpenalty=10000

\begin{document}

\pagenumbering{roman}
\input{chapters/00-frontmatter}

\clearpage
\pdfbookmark[0]{\contentsname}{contents}
\tableofcontents

\clearpage
\phantomsection
\addcontentsline{toc}{matter}{DAFTAR GAMBAR}
\renewcommand{\listfigurename}{DAFTAR GAMBAR}
\listoffigures

\clearpage
\phantomsection
\addcontentsline{toc}{matter}{DAFTAR TABEL}
\renewcommand{\listtablename}{DAFTAR TABEL}
\listoftables

\doublespacing
\clearpage
\pagenumbering{arabic}
\thesischapter{I}{PENDAHULUAN}
\input{chapters/01-pendahuluan}
\thesischapter{II}{TINJAUAN PUSTAKA DAN LANDASAN TEORI}
\input{chapters/02-tinjauan-pustaka}
\thesischapter{III}{METODE PENELITIAN}
\input{chapters/03-metodologi}

\clearpage
\phantomsection
\addtocontents{toc}{\protect\addvspace{2.25em}}
\addcontentsline{toc}{matter}{DAFTAR PUSTAKA}
\printbibliography[title={DAFTAR PUSTAKA}]

\end{document}
