\documentclass{isi-proposal}

% Final-thesis revision v3 continues proposal v2.
\newcommand{\thesisversion}{v3}
\renewcommand{\contentsname}{DAFTAR ISI}
\renewcommand{\figurename}{Gambar}
\renewcommand{\tablename}{Tabel}
\newcommand{\thesischapter}[2]{%
  \clearpage
  \phantomsection
  \setcounter{section}{0}
  \setcounter{subsection}{0}
  \addcontentsline{toc}{part}{BAB #1: #2}
  \begin{center}\bfseries BAB #1\par #2\end{center}
}

\usepackage{needspace}
\usepackage[normalem]{ulem}
\usepackage{tikz}
\usetikzlibrary{shapes.geometric, arrows}

% PDF outline and unique destinations despite per-chapter numbering resets.
\usepackage[unicode,hidelinks,hypertexnames=false,bookmarksnumbered,
  bookmarksopen,bookmarksopenlevel=1,pdfpagemode=UseOutlines]{hyperref}
\usepackage{bookmark}
\bookmarksetup{depth=3}
\makeatletter
\renewcommand*{\toclevel@part}{0}
% Non-chapter entries use normal-size text with dot leaders; only BAB uses the part style.
\newcommand*{\l@matter}{\@dottedtocline{0}{0pt}{0pt}}
\newcommand*{\toclevel@matter}{0}
\makeatother

\addbibresource{../../proposal-phase/assets/references.bib}

% Section formatting
\renewcommand{\thesection}{\Alph{section}}
\titleformat{\section}{\normalfont\normalsize\bfseries}{\thesection.\quad}{0pt}{}
\titleformat{\subsection}{\normalfont\normalsize\bfseries}{\thesubsection\quad}{0pt}{}
\titleformat{\subsubsection}{\normalfont\normalsize\bfseries}{\thesubsubsection\quad}{0pt}{}

% Title, researcher, institution, dates, and committee
\input{metadata}

% Disable hyphenation while keeping justification (MS Word style)
\tolerance=1
\emergencystretch=\maxdimen
\hyphenpenalty=10000
\exhyphenpenalty=10000

\begin{document}

\pagenumbering{roman}
\input{chapters/00-frontmatter}

\clearpage
\pdfbookmark[0]{\contentsname}{contents}
\tableofcontents

\clearpage
\phantomsection
\addcontentsline{toc}{matter}{DAFTAR GAMBAR}
\renewcommand{\listfigurename}{DAFTAR GAMBAR}
\listoffigures

\clearpage
\phantomsection
\addcontentsline{toc}{matter}{DAFTAR TABEL}
\renewcommand{\listtablename}{DAFTAR TABEL}
\listoftables

\doublespacing
\clearpage
\pagenumbering{arabic}
\thesischapter{I}{PENDAHULUAN}
\input{chapters/01-pendahuluan}
\thesischapter{II}{TINJAUAN PUSTAKA DAN LANDASAN TEORI}
\input{chapters/02-tinjauan-pustaka}
\thesischapter{III}{METODE PENELITIAN}
\input{chapters/03-metodologi}

\clearpage
\phantomsection
\addtocontents{toc}{\protect\addvspace{2.25em}}
\addcontentsline{toc}{matter}{DAFTAR PUSTAKA}
\printbibliography[title={DAFTAR PUSTAKA}]

\end{document}
